node_modules
# Keep environment variables out of version control
.env
.env.*

# Build output
dist/

/src/generated/prisma
src/config/credentials/*.json
src/config/credentials/service-account.json
logs/
